<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Thêm User</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" th:href="@{/user/user-list}">Get Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form th:action="@{/user/save-user}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label>Full Name:</label>
                        <input type="text" class="form-control" th:field="*{fullName}">
                    </div>
                    <div class="form-group">
                        <label>User Name:</label>
                        <input type="text" class="form-control" th:field="*{userName}">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" th:field="*{pass}">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>